@media screen and (max-width: 1199px) {
.wrapper {
	padding: 0 40px;
}


}
@media screen and (max-width: 991px) {
.main {
	height: 500px;
}
.main__wrapper {
	margin-left: 150px;
	margin-top: 50px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	padding: 0 40px;
}
.form_mail, .revision {
	width: 100%;
	text-align: center;
}
.form_wrapper {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}
}
@media screen and (max-width: 768px) {
.main {
	height: 400px;
}
.main__text {
	width: 80%;
}
.main__wrapper {
	margin-left: 100px;
	margin-top: 25px;
}
.revision video {
	width: 400px;
	}
.info__header blockquote {
	padding: 0 10px;
}
footer .nav ul li {
	padding: 0 10px;
}	
}
@media screen and (max-width: 480px) {
.main {
	height: 200px;
}	
.main__wrapper {
	display: inline-block;
	margin-left: 50px;
	margin-top: 10px;
	width: 80%;
}
.main__text h1{
	font-size: 30px;
}
.main__text p {
	font-size: 18px;
	margin-top: 10px;
	line-height: 25px;
}
.main__icons {
	margin-top: 20px;
}
.main__icons .circle {
	font-size: 16px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.revision video {
	width: 300px;
	}
.wrapper {
	padding: 0 10px;
}	
.info__header blockquote, .info__communication {
	padding: 10px;
}
footer .nav ul li {
	padding: 10px 0;
}


}

